<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initialGameParameters</key>
	<dict>
		<key>curves</key>
		<dict>
			<key>0</key>
			<dict>
				<key>0</key>
				<string>44,25</string>
				<key>1</key>
				<string>49,150</string>
				<key>2</key>
				<string>39,300</string>
				<key>3</key>
				<string>44,475</string>
			</dict>
			<key>1</key>
			<dict>
				<key>0</key>
				<string>121,25</string>
				<key>1</key>
				<string>116,150</string>
				<key>2</key>
				<string>126,300</string>
				<key>3</key>
				<string>121,475</string>
			</dict>
			<key>2</key>
			<dict>
				<key>0</key>
				<string>198,25</string>
				<key>1</key>
				<string>203,150</string>
				<key>2</key>
				<string>193,300</string>
				<key>3</key>
				<string>198,475</string>
			</dict>
			<key>3</key>
			<dict>
				<key>0</key>
				<string>276,25</string>
				<key>1</key>
				<string>271,150</string>
				<key>2</key>
				<string>281,300</string>
				<key>3</key>
				<string>276,475</string>
			</dict>
		</dict>
		<key>letterPoints</key>
		<dict>
			<key>a</key>
			<string>10</string>
			<key>b</key>
			<string>30</string>
			<key>c</key>
			<string>30</string>
			<key>d</key>
			<string>20</string>
			<key>e</key>
			<string>10</string>
			<key>f</key>
			<string>40</string>
			<key>g</key>
			<string>20</string>
			<key>h</key>
			<string>40</string>
			<key>i</key>
			<string>10</string>
			<key>j</key>
			<string>80</string>
			<key>k</key>
			<string>50</string>
			<key>l</key>
			<string>10</string>
			<key>m</key>
			<string>30</string>
			<key>n</key>
			<string>10</string>
			<key>o</key>
			<string>10</string>
			<key>p</key>
			<string>30</string>
			<key>q</key>
			<string>100</string>
			<key>r</key>
			<string>10</string>
			<key>s</key>
			<string>10</string>
			<key>t</key>
			<string>10</string>
			<key>u</key>
			<string>10</string>
			<key>v</key>
			<string>40</string>
			<key>w</key>
			<string>40</string>
			<key>x</key>
			<string>80</string>
			<key>y</key>
			<string>40</string>
			<key>z</key>
			<string>100</string>
		</dict>
		<key>letterSpawnPercentage</key>
		<dict>
			<key>a</key>
			<string>8.36</string>
			<key>b</key>
			<string>2.07</string>
			<key>c</key>
			<string>2.07</string>
			<key>d</key>
			<string>4.12</string>
			<key>e</key>
			<string>12.28</string>
			<key>f</key>
			<string>2.07</string>
			<key>g</key>
			<string>3.10</string>
			<key>h</key>
			<string>2.07</string>
			<key>i</key>
			<string>9.22</string>
			<key>j</key>
			<string>1.05</string>
			<key>k</key>
			<string>1.05</string>
			<key>l</key>
			<string>4.12</string>
			<key>m</key>
			<string>2.07</string>
			<key>n</key>
			<string>6.16</string>
			<key>o</key>
			<string>8.20</string>
			<key>p</key>
			<string>2.07</string>
			<key>q</key>
			<string>1.05</string>
			<key>r</key>
			<string>6.16</string>
			<key>s</key>
			<string>4.12</string>
			<key>t</key>
			<string>6.16</string>
			<key>u</key>
			<string>4.12</string>
			<key>v</key>
			<string>2.07</string>
			<key>w</key>
			<string>2.07</string>
			<key>x</key>
			<string>1.05</string>
			<key>y</key>
			<string>2.07</string>
			<key>z</key>
			<string>1.05</string>
		</dict>
	</dict>
</dict>
</plist>
